<div class='text-center'>
  <h2>Teams</h2>
  <%= link_to 'Create New', new_team_path, {class: 'btn btn-success'} %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @teams.each do |team| %>
      <tr>
        <td>
          <%= team.name %>
        </td>
        <td>
          <%= team.description %>
        </td>
        <td>
          <%= link_to edit_team_path(team), {title: 'Edit Team'} do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
          <%= link_to '#', {style: 'color: red;', title: 'Delete Team'} do %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>